.list-cell:filled:selected:focused,
.list-cell:filled:selected {
    -fx-background-color: rgba(142, 208, 255, 0.5);
    -fx-light-text-color: black;
}

.list-cell:even {
    -fx-background-color: none;
}

.list-cell:odd {
    -fx-background-color: none;
}

.list-cell:filled{
    -fx-background-color: rgb(240, 240, 240)
}

.list-cell:filled:hover {
    -fx-background-color: rgba(142, 208, 255, 0.5);
}
